*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
font-family: 'Open Sans', sans-serif;
}
/* regole wrap */

#wrap{
    height: calc(100vh - 100px);
    /* regole debug */
    background-color:rgb(37, 41, 53);;

}
#wrap::after{
    content: "";
    display: table;
    clear: both;
}

#playlist{
    float: left;
    width: 200px;
    height: 100%;
    /* regole debug */
    background-color: darkslategrey;
}

.contbottone{
    width: 210px;
    height: 40px;
    border-radius: 15px;
    border: solid 3px white;
    opacity: unset;
    text-align: center;
    padding: 6px;
    margin-right: 15px;
    
}
.contbottone:hover{
    transform: scale(1.1);
}

#contplayed{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    /* regole debug */
   
}



.upgrade{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 height: 100px;
 background: rgba(100, 100, 100, 0.4);
}

#played{
    height: calc(100vh - 200px);
    overflow-y: scroll;
    /* regoledebub */
    background-color: rgb(37, 41, 53);

}

a{
    text-decoration: none;
    color: rgb(145, 145, 138);
    margin: 0px 10px;
}

a:hover{
color: rgb(255, 255, 255);
}
li{
    display: inline;
}

.sottolineato{
    border-bottom: 2px solid greenyellow;
}

ul{
    text-align: center;
   padding-top: 20px;
}

/* regole contenuto playlist */

#contlogo{
    height: 100px;
    width: auto;
    /* regole debiug */
    background-color: rgb(0, 0, 0);
}

#logo{
    margin: 20px 10px;
    width: 170px;
   
}

.contenitore_menusx{
    height: calc(100vh - 300px);
    background-color: black;
}

.haburger{
  height: auto;
  

   
}
.imghamburger{
    margin: 0px 10px 8px 0px;
    width: 35px;
    filter: brightness(0.5);
    vertical-align: middle;
}

.imghamburger:hover{
   filter: none;
}

#premuto{
    color: white;
} 

.selezionato{
    border-left:solid 3px greenyellow;
}

.creaplay{
   height: auto;
   overflow-y: hidden;
   height: calc(100vh - 300px);
      /* regoledebug */
}
h2{
    font-size: 22px;
    margin: 20px 10px 10px;
    color: white;
}

.fa-plus-square{
    font-size: 65px;
    vertical-align: middle;
}

.crea_play{
    margin: 0px 10px;
}

.lista_nuov_aplaylist{
    display: grid;
    justify-content: flex-start;
    overflow-y: scroll;
}

.appfissa{
    height: 100px;
      /* regoledebug */
   background-color: rgb(0, 53, 0);
  
}

.downlo{
    margin-top: 30px;
    width: 22px;
   
}

h1{
    color: white;
}

.immaginicopertina{
    width:300px;
    height: 300px;
    background-color: blue;
    display: inline-block;
}


/* regole player */

#player{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    /* regole debug */
    background-color: black;
}

.coversx{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: palegreen;
}
.img_cover{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.titolocover{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.salva{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* regole debug */
    height: 50px;
    background-color: palegreen;
}

.cuore{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.salvafile{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}



.avanzamento{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* regole debug */
    height: 50px;
    background-color: palegreen;
}

.random{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.indietro{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.botton_play{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.avnti{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.ripeti{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}


.volume{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* regole debug */
    height: 50px;
    background-color: palegreen;


}

.menupallini{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.condividi_schermo{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.microfono{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}

.barra{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
    height: 40px;
    background-color: plum;
}


