*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
font-family: 'Open Sans', sans-serif;
}
/* regole wrap */

#wrap{
    height: calc(100vh - 100px);
   
}
#wrap::after{
    content: "";
    display: table;
    clear: both;
}

#playlist{
    float: left;
    width: 200px;
    height: 100%;
   
    background-color: rgb(0, 0, 0);
}

.contbottone{
    width: 210px;
    height: 40px;
    border-radius: 15px;
    border: solid 3px white;
    opacity: unset;
    text-align: center;
    padding: 6px;
    margin-right: 15px;
    
}
.contbottone:hover{
    transform: scale(1.1);
}

#contplayed{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    /* regole debug */
   
}



.upgrade{
 display: flex;
 justify-content: flex-end;
 align-items: center;
 height: 100px;
 background: rgba(100, 100, 100, 0.4);
 position: fixed;
 width: calc(100vw - 209px);
}

#played{
    height: calc(100vh - 100px);
    overflow-y: scroll;
    /* regoledebub */
    background-color: rgb(37, 41, 53);
}
.partecentrale{
    padding-top: 120px;
}

a{
    text-decoration: none;
    color: rgb(145, 145, 138);
    margin: 0px 10px;
}

a:hover{
color: rgb(255, 255, 255);
}
li{
    display: inline;
}

.sottolineato{
    border-bottom: 2px solid greenyellow;
}

ul{
    text-align: center;
   padding-top: 20px;
}

/* regole contenuto playlist */

#contlogo{
    height: 100px;
    width: auto;
    /* regole debiug */
    background-color: rgb(0, 0, 0);
}

#logo{
    margin: 20px 10px;
    width: 170px;
   
}
#logopiccolo{
    display: none;
}

.contenitore_menusx{
    height: calc(100vh - 300px);
    background-color: black;
}

.haburger{
  height: auto;
  

   
}
.imghamburger{
    margin: 0px 10px 8px 0px;
    width: 35px;
    filter: brightness(0.5);
    vertical-align: middle;
}

.imghamburger:hover{
   filter: none;
}

#premuto{
    color: white;
} 

.selezionato{
    border-left:solid 3px greenyellow;
}

.creaplay{
   height: auto;
   overflow-y: hidden;
   height: calc(100vh - 300px);
      /* regoledebug */
}
h2{
    font-size: 22px;
    margin: 20px 10px 10px;
    color: white;
}

.fa-plus-square{
    font-size: 65px;
    vertical-align: middle;
}

.crea_play{
    margin: 0px 10px;
}

.lista_nuov_aplaylist{
    display: grid;
    justify-content: flex-start;
    overflow-y: scroll;
}

.appfissa{
    height: 100px;
}

hr{
    margin-left: 9px;
    margin-right: 45px;
    margin-top: 11px;
}

.cerchio{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    overflow: hidden;
    background-color: gray;
    margin: 10px 10px 10px ;
}

.span{
    color: white;
}

.downlo{
    margin-top: 30px;
    width: 22px;
   
}

h1{
    color: white;
    margin: 25px 5px;
    font-size: 30px;
}

.contenitore_canzoni{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.immaginicopertina{

    width: 200px;
    height: 200px;
    margin: 25px 25px;
}


#seconda{
    margin: 215px 25px 25px 25px;
}
.immaginiterza{
    width: 200px;
    height: 200px;
    margin: 25px 25px;
    border-radius: 100px;
    overflow: hidden;
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
}

#playhover{
    
}

#playhover:hover{
  
}

.playhover:hover{
    width: 200px;;
    height: 200px;
    background: rgba(100, 100, 100, 0.4);
    
}

.copertine{
    width: 100%;
    height: 100%;
}




/* regole player */

#player{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    /* regole debug */
    background-color: black;
}

.coversx{
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
   
}


.img_cover{
   width: 100%;
   height: 100%;
  
}

.titolocover1{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    overflow: hidden;
  
   
}

.titolocover2{
    width: auto;
    height: auto;
    margin: 0 5px;
}




.avanzamento{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* regole debug */
}



.pulsanti{
    width: 50px;
    margin: 0 0px;
    /* regole debug */
    color: white;
   
}

.volume{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* regole debug */
}


.fa-play-circle{
    font-size: 30px;
}

.fas,.far{
    color: white;
}

.barra{
    width: 50px;
    margin: 0 20px;
    /* regole debug */
   
}

.barra_scorrimento{

    width: 200px;
    height: 2px;
    background-color: grey;
    display: inline;
    
}

.scorrimento{
    width: 100px;
    height: 2px;
    background-color: white;
    

}



@media all and (max-width: 706px){

    #playlist{
        width: 50px;

    }

    .contenitore_canzoni{
        
        flex-wrap: wrap;
    }

    .imghamburger{
        color: white;
    }

    #contplayed{
        width: calc(100% - 50px);
    }

    .upgrade{

        width: calc(100vw - 50px);
    }

    #scomp{
        display: none;
    }

    #premuto{
        display: none;
    }

    .creaplay,.prof, #logo{
        display: none;
    }

    #logopiccolo{
        display: inline;
        width: 45px;
        margin: 3px;
    }

    
}

@media all and (max-width: 1440px){

    .contenitore_canzoni{
        
        flex-wrap: wrap;    
    }

    .immaginicopertina{
        margin: 90px 25px;

    }
}


